 /* variables */
 :root {
	--root-size: 16px;
	--root-size-h1: 16px;
	--root-size-h2: 16px;
	--root-size-h3: 16px;
	--root-size-p: 16px;
	--article-margin: 15px;
	--line-height: 140%; 
}

p {
	font-family: "Montserrat";
	font-size: 17px;
}


article {
	padding-top: 40px;
	padding-bottom: 40px;
	line-height: 170%;
}
section {
	padding-bottom: 20px;
	margin: 12px;
}
em {
	font-style: italic;
}
.bigtext {
	margin-top: 20px;
	font-size: 22px;
	line-height: 170%;
	border: 1.5px solid;
	box-shadow: 6px 4px #000000;
	border-radius: 2px 10px;
	padding: 12px;
}
.stickyheader {
	background-color: white;
	padding-left: 15px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.decoratedparagraph {
	background-color: aquamarine;
	padding: 12px;
	margin-top: 20px;
}
footer {
	text-align: center;
	background-color: black;
	color: aliceblue;
	padding-bottom: 60px;
	padding-top: 20px;
}