 /* variables */
 :root {
	--root-size: 16px;
	--root-size-h1: 16px;
	--root-size-h2: 16px;
	--root-size-h3: 16px;
	--root-size-p: 16px;
	--article-margin: 15px;
	--line-height: 140%; 
}

p {
	font-family: "Montserrat";
	font-size: 17px;
}
#arrowup {
	background-color: aliceblue;
	border: 1.5px solid;
	text-align: center;
	margin: auto;
	position: fixed;
	right: 20px;
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;
	bottom: 14px;
	border-radius: 8px;
	z-index: 100;
}

article {
	
	padding-bottom: 40px;
	line-height: 180%;
}
#flower {
	color: #EA7518;
}
section {
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 16px;
	padding: 10px;
}

.sectionmain {
	border: 2px solid;
	border-radius: 20px;
	background-color: #cdd197;
	margin: 12px;
}
em {
	font-style: italic;
}
.bigtext {
	margin-top: 20px;
	font-size: 22px;
	font-family: "Playfair Display", serif;
	font-style: italic;
	line-height: 170%;
	border: 2px solid;
	background-color: #acaf88;
	border-radius: 50px 50px 0px 0px;
	padding: 20px;
	padding-top: 20px;
}
.stickyheader {
	background:#111111;
	border-top: 3px solid; 
	border-bottom: 3px solid; 
	padding-left: 15px;
	padding: 10px;
	font-weight: bold;
	padding-bottom: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	text-align: center;
}
.decoratedparagraph {
	background-color: aquamarine;
	padding: 12px;
	margin-top: 20px;
}
footer {
	text-align: center;
	background-color: black;
	color: aliceblue;
	padding-bottom: 60px;
	padding-top: 20px;
}

 /* header animation */
#circletext {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
	color: white;
}

#circletext text {
	font-family: "Playfair Display", serif;
    font-weight: bold;
	overflow: hidden;
	
	
}

/* Outer Circle */
#circletext svg:nth-child(1) text {
    font-size: 28.5px; 
	overflow: hidden;
}

#circletext svg:nth-child(1) {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    animation-name: rotateOuter;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	overflow: hidden;
}
#circletext svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    animation-name: rotateInner;
    animation-duration: 32s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	overflow: hidden;
}

/* Inner Circle */
#circletext svg:nth-child(2) text {
    font-size: 17.5px;
	overflow: hidden;
}


/* Outer Circle Animation */
@keyframes rotateOuter {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Inner Circle Animation */
@keyframes rotateInner {
    from {
        transform: rotate(360deg); 
    }
    to {
        transform: rotate(0deg);
    }
}


#headcontainer {
	max-height: 200px;
}

header {
	overflow: hidden;
	background: radial-gradient(#FAFAE5, #90b7f9);
	border-radius: 200px 200px 0px 0px;
	border: 3px solid;
	border-bottom: 2px solid;
}

mark {
	background-color: #EA7518;
	padding: 3px;
	/* border: 1px solid; */
}
.headerdiv {
	background-color:#111111;
}
article {
	z-index: 2;
	background: #90b7f9;
	color: rgb(9, 9, 9);
	position: relative;
	font-family: "Montserrat", serif;
	border-left: 3px solid;
	border-right: 3px solid;
}
h2 {
	font-family: "Playfair Display", serif;
	font-size: 20px;
	color:#FAFAE5;
}
.author {
	background: linear-gradient(to bottom right, #c7daf5, #abc8fb);
	border-left: 3px solid;
	border-right: 3px solid;
	color:#111111;
	padding: 12px;
	font-size: 20px;
	text-align: center;
	font-family: "Montserrat", serif;
	font-weight: 600;
}

.progress {
	z-index: 500;
	width: 3px;
	height: 100%; 
	background: #EA7518;
	position: fixed;
	top: 0; 
	left: 0; 
	transform-origin: 50% 0; 
	animation: scaleProgress auto linear;
	animation-timeline: scroll(root);
  }
  
  @keyframes scaleProgress {
	from {
	  transform: scaleY(0); 
	}
	to {
	  transform: scaleY(1); 
	}
  }
